<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>500</error-code>
		<location>/controller</location>
	</error-page>
    <filter>
        <filter-name>characterencodingfilter</filter-name>
        <filter-class>by.bsu.ino.carrent.filter.FilterEncoding</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterencodingfilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>servletsecurityadminfilter</filter-name>
        <filter-class>by.bsu.ino.carrent.filter.SecurityAdmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>servletsecurityadminfilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>servletsecurityclientfilter</filter-name>
        <filter-class>by.bsu.ino.carrent.filter.SecurityClient</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>servletsecurityclientfilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>by.bsu.ino.carrent.filter.ContextListener</listener-class>
    </listener>
</web-app>